.cart-button-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    position: relative;
    display: inline-block;
    @media (max-width: 360px) {
       margin-left: 0;
      }
}

.cart-button {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary);
    color: var(--bg);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(0, 123, 255, 0.8);
    }
}

.tooltip {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 1rem;
    opacity: 0.9;
    pointer-events: none;
    z-index: 10;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
    }
}
